header {
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url(../images/dspg.jpeg);
    background-position: center;
    position: relative;
    margin-top: -60px;
    color: #fff;
    text-transform: capitalize;
    background-repeat: no-repeat;
    background-size: cover;
}