<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Computer Science Departmental website, School of Information Communication Technology, Delta state polytechnic Ogwashi-Uku, Delta State Nigeria."
    />
    <meta
      name="keywords"
      content="dspg, computer science, ict, school, department"
    />
    <meta name="theme-color" content="#333" />
    <title>{% block title %}{% endblock title %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/client/preloader.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/client/style.css') }}"
    />
    <link
    rel="stylesheet"
    href="{{ url_for('static',filename='css/client/index.css') }}"
    />
    
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
      integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="preloader">
      <div id="loader"></div>

      <!-- <img id="loader" src="./images/loading.gif"/> -->
    </div>
    <nav>
      <div class="logo">
        <a href="{{ url_for('index') }}"><span>Computer</span> science</a>
      </div>
      <ul class="links">
        <li><a class="{% if current_route == 'index' %}active{% endif %}" href="{{ url_for('index') }}">Home</a></li>
        <li><a class="{% if current_route == 'about' %}active{% endif %}" href="{{ url_for('about') }}">About</a></li>
        <li><a class="{% if current_route == 'events' %}active{% endif %}" href="{{ url_for('about') }}">Events</a></li>
        <li><a class="{% if current_route == 'news' %}active{% endif %}" href="{{ url_for('about') }}">News</a></li>
        <li><a class="{% if current_route == 'contact' %}active{% endif %}" href="{{ url_for('contact') }}">Contact Us</a></li>
      </ul>
      <a class="button" href="{{ url_for('login') }}"
        ><i style="margin-right: 5px" class="fa fa-user"></i>Login</a
      >
      <div class="toggle-btn">
        <i class="fa-solid fa-bars white"></i>
      </div>
      <div class="dropdown-menu">
        <li><a class="active" href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('about') }}">Events</a></li>
        <li><a href="{{ url_for('about') }}">News</a></li>
        <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
        <li><a class="drop-button" href="404.html">Sign up</a></li>
      </div>
    </nav>
    <main>
      {% block main %}{% endblock main %}
      
    </main>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>Quick links</h4>
            <ul>
              <li><a href="404.html">About us</a></li>
              <li><a href="404.html">Upcoming events</a></li>
              <li><a href="404.html">News</a></li>
              <li><a href="404.html">contact us</a></li>
              <!-- <li><a href="404.html">affiliate program</a></li> -->
            </ul>
          </div>
          <div class="footer-col">
            <h4>get help</h4>
            <ul>
              <li><a href="404.html">FAQ</a></li>
              <li><a href="404.html">Support</a></li>
              <!-- <li><a href="404.html">returns</a></li>
              <li><a href="404.html">order status</a></li>
              <li><a href="404.html">payment options</a></li> -->
            </ul>
          </div>
          <!-- <div class="footer-col">
            <h4>online shop</h4>
            <ul>
              <li><a href="404.html">watch</a></li>
              <li><a href="404.html">bag</a></li>
              <li><a href="404.html">shoes</a></li>
              <li><a href="404.html">dress</a></li>
            </ul>
          </div> -->
          <div class="footer-col">
            <h4>follow us</h4>
            <div class="social-links">
              <a href="404.html"><i class="fab fa-facebook-f"></i></a>
              <a href="404.html"><i class="fab fa-twitter"></i></a>
              <a href="404.html"><i class="fab fa-instagram"></i></a>
              <a href="404.html"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="{{ url_for('static',filename='js/client/preloader.js') }}"></script>
    <script src="{{ url_for('static',filename='js/client/script.js') }}"></script>
  </body>
</html>
