{% extends 'base.html' %}
<section>
  <h2 class="subtitle">If You Have Any Query, Feel Free To Contact Us</h2>
  <div class="row">
    <div class="info">
      <div class="icon-box">
        <span class="material-icons">phone</span>
      </div>
      <div class="info-text">
        <h3 class="caption">Call to ask any question</h3>
        <h3 class="contact">+2348130822108</h3>
      </div>
    </div>
    <div class="info">
      <div class="icon-box">
        <span class="material-icons">mail</span>
      </div>
      <div class="info-text">
        <h3 class="caption">Email</h3>
        <h3 class="contact">greatedafeoke@gmail.com</h3>
      </div>
    </div>
    <div class="info">
      <div class="icon-box">
        <span class="material-icons">navigation</span>
      </div>
      <div class="info-text">
        <h3 class="caption">Visit us</h3>
        <h3 class="contact">DSPG Ogwashi-uku</h3>
      </div>
    </div>
  </div>
</section>
<section class="form-row">
  <form class="form" action="">
    <input type="text" name="name" id="name" placeholder="Your name" />
    <input type="email" name="email" id="email" placeholder="Email" />
    <input type="text" name="subject" id="subject" placeholder="Subject" />
    <textarea name="message" id="mesage" cols="30" rows="10"></textarea>
    <input type="submit" value="Send Message" />
  </form>
  <div class="map"></div>
</section>
