{% extends 'base.html' %} {% block link %}
<link
  rel="stylesheet"
  href="{{ url_for('static',filename='css/client/about.css') }}"
/>
{% endblock link %} {% block main %}
<div class="wrapper">
  <h1 class="heading">About the Computer Science Department</h1>
  <hr />

  <div class="">
    <h2>No News as of now!</h2>
  </div>
</div>
{% endblock main %}
<!--  <blockquote class="quote-card">
    <p>
      Scratch a dog and you'll find a permanent job. 
    </p>

    <cite>
      Franklin P. Jones
    </cite>
  </blockquote>

  <blockquote class="quote-card blue-card">
    <p>
      Our greatest glory is not in never falling, but in rising every time we fall.
    </p>

    <cite>
      Confucius
    </cite>
  </blockquote>

  <blockquote class="quote-card red-card">
    <p>
      A creative man is motivated by the desire to achieve, not by the desire to beat others.
    </p>

    <cite>
      Ayn Rand
    </cite>
  </blockquote>

  <blockquote class="quote-card yellow-card">
    <p>
      Life is one big road with lots of signs. So when you riding through the ruts, don't complicate your mind. Flee from hate, mischief and jealousy. Don't bury your thoughts, put your vision to reality. Wake Up and Live!
    </p>

    <cite>
      Bob Marley
    </cite>
  </blockquote>

  <p class="text-center credits">
    <a target="_blank" href="https://twitter.com/bharani91">
      bharanim
    </a>
  </p>-->
