{% extends 'base.html' %} {% block link %}
<link
  rel="stylesheet"
  href="{{ url_for('static',filename='css/client/about.css') }}"
/>
{% endblock link %} {% block main %}
<div class="wrapper">
  <h1 class="heading">About the Computer Science Department</h1>
  <hr />

  <p class="body">
    Welcome to the Computer Science Department at Delta State Polytechnic,
    Ogwashi-Uku, located in the vibrant state of Delta, Nigeria. Our department
    is a hub of innovation, learning, and technological advancement in the heart
    of the region.
  </p>
  <p class="body">
    Our mission is to empower students with the knowledge, skills, and mindset
    necessary to excel in the ever-evolving field of computer science. We strive
    to instill a deep passion for technology and provide an environment where
    creativity and problem-solving flourish.
  </p>
  <p class="body">
    At the Computer Science Department, academic excellence is our hallmark. Our
    dedicated faculty members are experienced professionals and scholars who are
    committed to delivering top-quality education. We offer a wide range of
    programs, from diploma courses to higher national diploma (HND) programs,
    designed to meet the needs of aspiring computer scientists.
  </p>
  <p class="body">
    We are not only dedicated to teaching but also to pushing the boundaries of
    knowledge through research. Our faculty and students engage in research
    projects that tackle real-world challenges in the field of computer science,
    contributing to advancements in areas such as artificial intelligence,
    cybersecurity, software development, and more.
  </p>
  <p class="body">
    We look forward to connecting with you and embarking on a journey of
    discovery and innovation in the world of computer science.
  </p>
  <div></div>
</div>
{% endblock main %}
<!--  <blockquote class="quote-card">
    <p>
      Scratch a dog and you'll find a permanent job. 
    </p>

    <cite>
      Franklin P. Jones
    </cite>
  </blockquote>

  <blockquote class="quote-card blue-card">
    <p>
      Our greatest glory is not in never falling, but in rising every time we fall.
    </p>

    <cite>
      Confucius
    </cite>
  </blockquote>

  <blockquote class="quote-card red-card">
    <p>
      A creative man is motivated by the desire to achieve, not by the desire to beat others.
    </p>

    <cite>
      Ayn Rand
    </cite>
  </blockquote>

  <blockquote class="quote-card yellow-card">
    <p>
      Life is one big road with lots of signs. So when you riding through the ruts, don't complicate your mind. Flee from hate, mischief and jealousy. Don't bury your thoughts, put your vision to reality. Wake Up and Live!
    </p>

    <cite>
      Bob Marley
    </cite>
  </blockquote>

  <p class="text-center credits">
    <a target="_blank" href="https://twitter.com/bharani91">
      bharanim
    </a>
  </p>-->
