<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        display: flex;
        flex-direction: column;
      }
      .nav {
        background-color: dodgerblue;
        margin: 5px;
      }
      main {
        background-color: blueviolet;
        height: 100vh;
      }
      .box {
        background-color: tomato;
        margin: 5px;

        display: flex;
        align-items: center;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <div class="nav">1</div>
    <main>2</main>
    <div class="box">3</div>
  </body>
</html>
