header {
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url(../images/dspg.jpeg);
  background-position: center;
  position: relative;
  margin-top: -60px;
  color: #fff;
  text-transform: capitalize;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url(../images/dspg3.jpeg);
  /* background: url(../images/dspg3.jpeg); */
  background-size: cover;
}

.contact .content {
  max-width: 800px;
  text-align: center;
}

.contact .content h2 {
  font-size: 36px;
  font-weight: 500;
  color: #fff;
}

.contact .content p {
  /* font-size: 36px; */
  font-weight: 300;
  color: #fff;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.container .contact-info {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container .contact-info .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.container .contact-info .box .icon {
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.container .contact-info .box .text {
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 300;
}

.container .contact-info .box .text h3{
   font: 500;
   color: var(--var-primary);
}

.contact-form {
  width: 40%;
  padding: 40px;
  background: #fff;
}

.contact-form h2 {
  font-size: 30px;
  color: var(--var-background);
  font-weight: 500;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .input-box  input{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid var(--var-background);
  outline: none;
  resize: none;
}

.contact-form .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: .5s;
  color: var(--var-background); 
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box textarea:focus ~ span,
.contact-form .input-box textarea:valid ~ span,
.contact-form .input-box input:valid ~ span
{
  color: var(--var-primary);
  font-size: 12px;
  transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"]
{
  width: 100%;
  background: var(--var-primary);
  color: var(--var-background);
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

@media (max-width:991px) {
  .contact {
    padding: 50px;
  }

  .container {
    flex-direction: column;
  }
  .container .contact-info {
    margin-bottom: 40px;
  }
}